* {
  margin: 0;
  padding: 0;

  -transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
}

.tree ul {
  padding-top: 20px;
  position: relative;
}

.tree li {
  float: left;
  text-align: center;
  position: relative;
  padding: 20px 5px 0 5px;

  -transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

/*Use ::before and ::after to draw the connectors */
.tree li::before,
.tree li::after {
  content: "";
  position: absolute;
  top: 0;
  right: 50%;
  top: 0;
  border-top: 1px solid #ccc;
  width: 50%;
  height: 20px;
}

.tree li::after {
  right: auto;
  left: 50%;
  border-left: 1px solid #ccc;
}

/*Remove left-right connectors from elements without any sibiling*/
.tree li:only-child::after,
.tree li:only-child::before {
  display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child {
  padding-top: 0;
}

/*Remove left connector from first child and right connector from last child */
.tree li:first-child::before,
.tree li:last-child::after {
  border: 0 none;
}

/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before {
  border-right: 1px solid #ccc;
  border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
}

.tree li:first-child::after {
  border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  border-left: 1px solid #ccc;
  width: 0;
  height: 20px;
}

.tree li a {
border: 1px solid #000;
padding: 5px 10px;
  text-decoration: none;
  color: #666;
  font-family: arial, Verdana, Tahoma, sans-serif;
  font-size: 11px;
  display: inline-block;

  border-radius: 5px;
  -webkit-transition: 5px;
  -moz-transition: 5px;

  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

/*Hover effect*/
/*Apply hover effect to the lineage of the element also*/
.tree li a:hover, .tree li a:hover+ul li a{
  background: rgb(255, 255, 0); color: #000; border: 1px solid rgb(119, 0, 255);
}

/*Connector styles on hover*/
.tree li a:hover+ul li::after,
.tree li a:hover+ul li::before,
.tree li a:hover+ul::before,
.tree li a:hover+ul ul::before {
  border-color: rgb(97, 254, 0);
}

/*source: https://www.youtube.com/watch?v=LFiXRvbM6II&t=273s 

Family Tree With CSS3 Simple markup + Source (web tutorials - уроки по веб)*/